@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins:wght@300;600&display=swap');

.detail-detail-middle-popular p{
    font-family: 'Poppins', sans-serif;
}

.text-detail-middle p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.watch-detail-middle h5{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 21px;
}