body{
    background-color: white;
}

.header{
    display: flex;
}

.header-home-donate{
    width: 86px;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-left: 16px;
}

.header-home-donate i{
    color: black;
}

.header-img{
    margin-left: 388px;
}

.header-search{
    margin-left: 322px;
    margin-top: 13px;
}

.header-search-inside input{
    width: 146px;
    padding: 6px;
}

.header-search-outside{
    width: 150px;
    color: black;
}

.middle{
    display: inline-flex;
    margin-top: 19px;
}

.middle-detail{
    display: inline-block;
}

.middle-detail-items{
    list-style: none;
    display: inline-grid;
    grid-template-columns: repeat(5, 158px);
    gap: 15px;
}

.items-img img{
    width: 142px;
}

.out-middle-popular{
    width: 421px;
    height: 395px;
    margin-top: 15px;
    margin-left: 16px;
    background-color: black;
}

.detail-middle-popular{
    display: inline-flex;
}

.img-detail-middle-popular img{
    width: 154px;
    margin-left: 21px;
    margin-top: 15px;
}

.detail-detail-middle-popular p{
    color: white;
}

.detail-middle{
    display: inline-flex;
}

.img-detail-middle{
    display: inline-block;
}

.img-detail-middle img{
    width: 288px;
    margin-left: 36px;
    margin-top: 31px;
}

.text-detail-middle{
    width: 570px;
    height: 477px;
    display: inline-block;
}

.text-detail-middle p{
    margin-left: 50px;
    margin-top: 293px;
    font-size: 18px;
}

.watch-detail-middle{
    display: inline-flex;
    height: 38px;
    width: 119px;
    background-color: #191919;
    border: 1.5px solid #405264;
    border-radius: 3px;
    color: #b2dbff;
    margin-left: 86px;
    margin-top: 41px;
}

.watch-detail-middle h5{
    position: relative;
    left: 30px;
    bottom: 31px;
}

.watch-detail-middle i{
    position: relative;
    top: 10px;
    left: 12px;
}

.ads-above-plyr{
    width: 720px;
    height: 90px;
    background-color: black;
    align-items: center;
    margin-top: 50px;
    margin-left: 287px;
}

.plyr-iframe{
    width: 846px;
    height: 448px;
    margin-top: 44px;
    margin-left: 229px;
    border: none;
}

.plyr iframe iframe{
    border: none;
}

.options-plyr{
    width: 846px;
    height: 30px;
    background-color: #393E46;
    margin-left: 229px;
    position: relative;
    top: 45px;
}

.left-right-options i{
    position: relative;
    top: 5px;
    left: 18px;
}

.download-options i{
    position: relative;
    left: 818px;
    bottom: 12px;
}