@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Poppins:wght@700&display=swap');

.text-top-header a{
    font-family: 'Poppins', sans-serif;
}

.ul-data-middle-content a{
    font-family: 'Poppins', sans-serif;
}

.load-middle-content{
    font-family: 'Poppins', sans-serif;
}

.detail-footer-section{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.search-top-header input{
    font-family: 'Poppins', sans-serif;
}

.trending-data-li-data h4{
    font-family: 'Poppins', sans-serif;
    color: white;
}