body{
    background-color: rgb(34, 40, 49);
}

.top-header{
    display: inline-flex;
}

.img-top-header a img{
    width: 120%;
    height: auto;
    max-width: 120%;
}

.text-top-header{
    display: inline-flex;
    justify-content: space-between;
    gap: 60px;
    position: relative;
    bottom: 6px;
    left: 280px;
}

.text-top-header h4{
    font-size: 1.2vw;
}

.text-top-header a{
    color: white;
    text-decoration: none;
}









.middle-content{
    display: inline-flex;
    width: 1332px;
}


.ul-data-middle-content{
    margin-top: 60px;
    margin-left: 25px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 310px);
}

.outer-data-middle-content{
    background-color: rgb(57, 62, 70);
    width: 340px;
    height: 200px;
}


.img-data-middle-content img{
    width: 79%;
}

.detail-data-middle-content{
    display: inline-flex;
    width: 230px;
}

.detail-data-middle-content h4{
    color: white;
    text-decoration: none;
    font-size: 0.88vw;
    position: relative;
    left: 12px;
    bottom: 5px;
}

.ul-data-middle-content a{
    text-decoration: none;
}

.detail-data-middle-content img{
    border-radius: 148px;
    width: 40px;
    height: 40px;
}

.load-middle-content{
    display: flex;
    text-align: center;
    background: #393E46;
    width: 115px;
    height: 37px;
    margin-left: 608px;
    border: 2px solid black;
    cursor: pointer;
}

.load-middle-content i{
    position: relative;
    top: 10px;
    left: 7px;
}

.load-middle-content h4{
    position: relative;
    bottom: 15px;
    left: 11px;
}