*{
    background-color: rgb(34, 40, 49);
}

body {
    overflow-x: hidden;
  }

.search-top-header{
    display: flex;
    position: relative;
    right: 45px;
    top: 10px;
}

.search-top-header input{
    height: 28px;
    background-color: #393E46;
    border: 1px solid #393E46;
}

.search-top-header i{
    position: relative;
    left: 10px;
    top: 13px;
}

.header-play-anime{
    display: inline-flex;
    justify-content: space-between;
    gap: 865px;
}

.poster-main-body-content{
    background-color: black;
    margin-top: 24px;
    background-image: url(/anime/background-p.png);
    background-size: 100% 100%;
    height: 350px;
    border-radius: 20px;
}

.poster-main-body-content img{
    width: 13%;
    border-radius: 12px;
    position: relative;
    top: 210px;
    left: 40px;
}

.title-main-body-content{
    position: relative;
    top: 95px;
    left: 46px;
}

